@charset "UTF-8";

/*
    Interphase by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/


/* Basic */

body {
    background: #fff;
}

body,
input,
select,
textarea {
    color: #444;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.65em;
}

a:hover {
    text-decoration: none;
}

strong,
b {
    color: #666;
    font-weight: 400;
}


p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0D0D0D
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
}



h2 {
    font-size: 1.75em;
    line-height: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}


/* Image */

#logo {
    height: 50px;
    margin-top: 13px;
}

.image {
    display: inline-block;
    position: relative;
}


/* Header */

#header {
    position: absolute;
    height: 4.75em;
    line-height: 4.75em;
    width: 100%;
}

#header #nav .Home {
    display: none;
}

#header h1 {
    height: inherit;
    padding-left: 30px;
    line-height: inherit;
    position: absolute;
    background: -moz-linear-gradient(-70deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(-70deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(-70deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

#header h1 a {
    font-size: 1.25em;
    font-weight: bold;
}

#header nav {
    height: 100px;
    line-height: inherit;
    position: absolute;
    right: 0px;
    padding-left: 700px;
    vertical-align: middle;
    background: -moz-linear-gradient(85.8deg, rgba(0,0,0,0) 47%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(85.8deg, rgba(0,0,0,0) 47%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(85.8deg, rgba(0,0,0,0) 47%, rgba(0,0,0,0.65) 100%);
}

#header nav > ul {
    width: 560px;
    margin-right: 0px;
    text-align: left;
}

#header nav > ul > li {
    border-radius: 4px;
    display: inline;
    margin-right: 35px;
}

#header nav > ul > li a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

#header nav > ul > li > #infinite {
  
}

#header nav > ul > li a:hover {
    color: #ffffff;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header nav > ul > li .button {
    height: 2.25em;
    line-height: 2.25em;
    margin-bottom: 0;
    padding: 0 1em;
    position: relative;
    top: -0.075em;
    vertical-align: middle;
}

#header .container {
    position: relative;
}

#header .container h1 {
    left: 0;
}

#header .container nav {
    right: 0;
}

/* Body */

#GetNotified {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e7e7e7;
}

#GetNotified2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#GetNotified #GetNotified2 {
    float: none;
    display: inline-flex;
}

.columns {
    float: none;
    display: inline-flex;
}

.container-fluid > header > p {
    font-family: georgia, serif;
}

#one > div > div > #left {
    width: 50%;
}

#one > div > div > #left > div {
    float: right;
    border-color: #000;
    border-width: 10px;
    margin-bottom: 50px;
    width: 450px;
}

#one > div > div > #left > div > img {
    width: inherit;
    border: 0.5px solid #A62F27;
}

#one > div > div > #right {
    width: 500px;
    margin-bottom: 50px;
}

#one > div > div > #right > p {
    text-align: justify;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
}

#two {
    padding-top: 100px;
    text-align: center;
}

#one {
    margin-top: 70px;
    text-align: center;
}

#one > div > div > section > p {
    text-align: justify;
}

#one > div > div > section >img {
    width: 396.7px;
    height: 538px;
    padding: 1px;
    border-width: 10px;
    border-color: #000000;
}

.image {
    width: 130px;
}

/* Banner */

#banner {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17em 0em 17em;
    text-align: center;
}

#banner h2 {
    color: #E6EAF0;
    font-size: 3em;
    line-height: 1em;
    padding-left: 100px;
    padding-right: 100px;
}

#banner p {
    font-family: georgia,serif;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 20px;
    color: #E6EAF0;
}

/* Issues */
.issues {
    background-color: #DCE1E3;
    padding-bottom: 200px;
}

#header nav > #issues_nav > li > a {
    color: #000;
}

#year {
    font-size: 50px;
    font-color: #DDD;
    margin-left: 10%;
}

#issues {
    padding-top: 10%;
    padding-left: 50px;
}

#issues li {
    display: inline;
}

#for_issue {

}

#issues li img {
    width: 20%;
    margin-left: 10%;
    padding-bottom: 50px;
}